* {
    text-decoration: none;
    margin: 0;
    padding: 0;
    color: black;
}

:root {
    --fs-base: clamp(14px, 1.5vw, 18px);
    --fs-h1: clamp(2.5rem, 5vw, 3.5rem);
    --fs-h2: clamp(2rem, 4vw, 2.75rem);
    --fs-h3: clamp(1.5rem, 3vw, 2.25rem);
    --fs-sm: clamp(0.875rem, 1vw, 1rem);

    --lh-base: 1.6;
    --lh-tight: 1.2;
    --ls-wide: 0.02em;
}


h1,
h2,
h3,
h4 {
    line-height: var(--lh-tight);
    letter-spacing: var(--ls-wide);
    margin-bottom: 1rem;
}

p {
    max-width: 60ch;
    margin-bottom: 1.5rem;
}

body {
    background-image: url(images/bg.png);
    background-size: cover;
    background-position: center;
    font-family: "Montserrat";
    font-size: var(--fs-base);
    line-height: var(--lh-base);
    font-family: system-ui, sans-serif;
    padding: 2rem;
    font-weight: 500;
}

header {
    max-width: 1536px;
    width:100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

nav {
    display: flex;
    gap: 28px;
    align-items: center;
}

.card {
    padding: 14px 9px;
    border-radius: 28px;
    background-color: black;
    color: white;
}

section {
    max-width: 1536px;
    width:100%;
    margin: 0 auto;
    margin-top: 54px;
}

.section1 {
    display: flex;
    flex-direction: column;
}

.section2 {
    display: flex;
    justify-content: space-between;
}

.slider-container {
    max-width:1536px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.image-list {
    display: flex;
    overflow: hidden;
    gap: 10px;
    justify-content: center;
}

.image-list img {
    width: 305px;
    object-fit: cover;
}

.buttons {
    margin-top: 12px;
}

button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}
button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}


@media (min-width: 540px) {
    /* small phones */
}

@media (min-width: 768px) {
    /* tablets */
}

@media (min-width: 1024px) {
    /* laptops */
}

@media (min-width: 1280px) {
    /* desktops */
}

@media (min-width: 1536px) {
    /* large screens (4K, TV) */
}